<h2>Commentary on Genesis</h2>

<h3>Genesis I.1. "In the firste made God of nouʒt heuene and erthe."</h3>

<p>
  By the first is meant the Father-essence: "He is the Beginning," says Augustine,[1] "the Father is the beginning of the Godhead."[2] This beginning is not temporal, for "the beginning of the Father is primary, not proceeding,"[3] i.e., principial, eternal,[4] "just as in our still told myths, 'once upon a time,' does not mean mean 'once' alone but 'once for all.'"[5] And likewise this first is uncreate, for neither does an invariable property have a variable subject, nor could the Father have been created by another, for else that other would have been the first.[6]
</p>

<p>
  "Of nouʒt" accords with the Brihadaranyaka Upanishad: "In the beginning no thing whatsoever was here";[7] and Chuang-tse: "At the beginning of the beginning, even nothing did not exist"; and the Polynesian Tradition: "Taaroa was his name, he stood in the void; no earth, no sky, no men"; this nothing is the "motionless dark... the incomprehensible nature of God [which we call Godhead],"[8] not the darkness that is the privation of light, i.e., not a privation of relation, for the Godhead is Privation itself:[9] "void... light and darkness [as the privation of light], it is rid of both,"[10] rather the darkness that is the permissive principle[11] of light, in the manner as Non-being is to Being, or as kindling is to fire.
</p>

<p>
  "Made... heuene and erthe" introduces us to the subject of Genesis, viz., the procession of manifestation from the apparent bifurcation of God and Godhead; heaven and earth being the poles of manifestation, for "that what is neither on earth nor in heaven anywhere is nought."[12]
</p>

<h3>Genesis I.2. "The erthe forsothe was veyn with ynne and void, and derknessis weren vpon the face of the see; and the Spiryt of God was born vpon the watrys."</h3>

<p>
  The Waters, or in our text, "the see," are the possibilities of existence, i.e., materia prima, which, "as it is in itself, is in potentiality to form,"[13] and thus, "derknessis weren vpon [its]... face," for as Godhead is to Being, the Waters are to existence,[14] viz., as a permissive principle and as an inexhaustible well, for "My bounty is as boundless as the sea";[15] "Do not think of the water failing; for this water is without end";[16] "A Fountain ever equally unexhaust, a Sea unbounded...";[17] "Unfathomable as the sea, wondrously ending only to begin again, informing all creation without being exhausted";[18] "In the beginning, this world was merely Water."[19]
</p>

<p>
  "The erthe" is materia signata, i.e., the support or plane or substratum or measure of each of the possibilities of existence, as number is to corporeity,[20] or as body is to soul: "Earth is the support of every world."[21] Empty within, because, like "the see," bereft of form, and thus "neuer is fild with water,"[22] i.e. insatiable, for it is desirous of form.
</p>

<p>
  As God "cannot be a Person without a Nature, nor can his Nature be without a Person,"[23] for Person and Nature imply each other,[24] it follows that the distinction between God and Godhead is "rational, not real."[25] Thus in principle there is no real distinction between God and Godhead, they are "One and One uniting,"[26] and only once rationally distinguished can we say "One became Two."[27] This first rational distinction, i.e., "first formal assumption in Godhead is being... God":[28]  "It first said, 'I am'";[29] God affirms Himself because His idiosyncrasy, essence, is Being,[30] His Nature "the possibility of existence, [which resides in his Non-Being and] necessarily involves the fact of existence,"[31] and in this distinction is born the Spirit: "the Nothing bringeth itself into a Will";[32] the Spirit is born upon the Waters.
</p>

<h3>Genesis I.3-4. "And God seide, Be maad liʒt; and maad is liʒt. And God sawʒ liʒt, that it was good, and deuydid liʒt fro derknessis."</h3>

<p>
  "It first said, 'I am'": this affirmation is at the same time a reflection[33] and illumination,[34] in a sense both appropriate to Intellect and Light,[35] for "when there is gnosis, light shines forth,"[36] and shining forth, He brings all the possibilities of manifestation to act, such that light is divided from darkness, whereby God sees His reflection in the Light.
</p>

<p>
  Just as a bud bursts forth and flowers, without thereby suffering a loss of identity, so the Spirit bursts forth as Light,[37] without thereby suffering a loss of Deity. Therefore we can say that the Spirit, which, antecedent to procession, is identified with the Will, is that self-same Spirit, which, posterior to procession, is identified with the Supernal-Sun, "the Principle of illumination and... the Source of manifested light."[38]
</p>

<h3>Genesis. I.5. "And clepide liʒt, day, and derknessis, nyʒt. And maad is 'euen and moru, o day."</h3>

<p>...</p>

<h3>Footnotes</h3>

<p>
  [1] Augustine, Confessions, XI.8.10.
</p>

<p>
  [2] Meister Eckart, Evans, I.268.
</p>

<p>
  [3] Ibid, I.267. Cf. Dante, Paradiso, XXIX.20, "For nor before nor after was the process of God's outflowing over these waters"; Zohar: "When God set forth to create the universe, his Thought encompassed all the worlds at once. ... All were created in a single instant."; and Hermes: "For with God, to will is to accomplish, inasmuch as, when he wills, the doing is completed in the self-same moment as the willing."
</p>

<p>
  [4] "Do not fondly imagine that God. when he created the heavens and the earth and all creatures, made one thing one day and another the next. Moses describes it thus it is true, nevertheless he knew better: he did so merely on account of those who are incapable of understanding or conceiving otherwise. All God did was: he willed and they were" (Meister Eckart, Pfeiffer, I.7).  Cf. Boehme: "It was an everlasting beginning" (Mysterium Pansophicum, 4.9).
</p>

<p>
  [5] Coomaraswamy, Hinduism and Buddhism.
</p>

<p>
  [6] "A first cause, being itself uncaused, is not probable but axiomatic" (Coomaraswamy, Time and Eternity).
</p>

<p>
  [7] Brihadaranyaka Upanishad, I.2.1; cf. Maitri Upanishad, II.5, "In the beginning this world was a Dark-Inertgit..."
</p>

<p>
  [8] Meister Eckart, Evans, I.369.
</p>

<p>
  [9] In the words of St. Thomas Aquinas: "lack of instrinsic form" (Summa Theologiae, II, Q.6 A.2).
</p>

<p>
  [10] Meister Eckart, Pfeiffer, I.267-70. Cf. Boehme, Supersensual Life: "which hath no ground or byss to stand on, and where there is no place to dwell in... it may fitly be compared to nothing."
</p>

<p>
  [11] As permissive principle, therefore not indigent.
</p>

<p>
  [12] Plato, Timaeus, 52d.
</p>

<p>
  [13] St. Thomas Aquinas, Summa Theologiae, I, Q.66 A.2. Cf. John of Damascus: the "nature referred to is that primary and formless matter that can be informed,... nature as being that by which the Generator generates."
</p>

<p>
  [14] As explained by Coomaraswamy, "a distinction of existence from pure being is easily made: 'being in itself' is modeless, 'existence' is being in a mode" (Coomaraswamy, A New Approach to the Vedas, n6).
</p>

<p>
  [15] Shakespeare, Romeo and Juliet, II.ii.133.
</p>

<p>
  [16] Rumi, Divani Shamsi Tabriz, XII.
</p>

<p>
  [17] Peter Sterry.
</p>

<p>
  [18] Chuang-tse.
</p>

<p>
  [19] Brihadaranyaka Upanishad, V.5.1.
</p>

<p>
  [20] For the matter of corporeity is "materia signata quantitate" (St. Thomas Aquinas, In Boeth. de Trin., Q.4, A.2).
</p>

<p>
  [21] Rgveda, VI.16.13.
</p>

<p>
  [22] Proverbs, XXX.16.
</p>

<p>
  [23] Meister Eckhart, Evans, I.394.
</p>

<p>
  [24] In the same way that Non-Being implies Being and vice versa, or hypothesis implies antithesis and vice versa; in all cases: connascent pairs, each begetting the other.
</p>

<p>
  [25] Ibid., I.268.
</p>

<p>
  [26] Ibid., I.267.
</p>

<p>
  [27] Tao Te Ching, II.42.
</p>

<p>
  [28] Meister Eckhart, Evans, I.267.
</p>

<p>
  [29] Brihadaranyaka Upanishad, I.4.1.
</p>

<p>
  [30] "Just as the sun must needs burst forth when the air is bright and clear, and is unable to contain itself... God cannot leave anything void and unfilled; that aught should be empty or void is not to be endured by nature's God" (Meister Eckhart, Pfeiffer, I.23).
</p>

<p>
  [31] Coomaraswamy, A New Approach to the Vedas, p32.
</p>

<p>
  [32] Boehme, XL Questions concerning the Soule, I.178. Cf. Rgveda, I.164.8, "He by Intellect forewent her."
</p>

<p>
  [33] "Dost not thou know that the light of the sun is the reflexion of the Sun beyond the veil?" (Rumi).
</p>

<p>
  [34] "The sovran light of the impartible essence illumines all things" (Meister Eckart, Evans, I.39).
</p>

<p>
  [35] "God first illumines Himself with intellectual light" (Dante, Il Convito, XII.4). Cf. Sri Ramakrishna: "One single ray of His has illumined the world with the light of knowledge."
</p>

<p>
  [36] Bhagavad Gita, XIV.11.
</p>

<p>
  [37] "Broke forth as fire" (Boehme, Signatura Regnum, XIV.38).
</p>

<p>
  [38] Pseudo-Dionysius, The Divine Names, IV.4.
</p>
