<h2>Commentary on Genesis</h2>

<h3>Genesis I.1. "In the firste made God of nouʒt heuene and erthe."</h3>

<p>
  By the first is meant the Father-essence: "He is the Beginning," says Augustine,[1] "the Father is the beginning of the Godhead."[2] This beginning is not temporal, for "the beginning of the Father is primary, not proceeding,"[3] i.e., principial, eternal,[4] "just as in our still told myths, 'once upon a time,' does not mean mean 'once' alone but 'once for all.'"[5] And likewise this first is uncreate, for neither does the eternal have a temporal beginning, nor could the Father have been created by another, for else that other would have been the first.[6]
</p>

<p>
  "Of nouʒt" accords with the Brihadaranyaka Upanishad: "In the beginning (skt. agre) no thing whatsoever was here";[7] and Chuang-tse: "At the beginning of the beginning, even nothing did not exist"; and the Polynesian Tradition: "Taaroa was his name, he stood in the void; no earth, no sky, no men"; this nothing is the "motionless dark... the incomprehensible nature of God [which we call Godhead],"[8] not the darkness that is the privation of light, i.e., not a privation of relation, for the Godhead is Privation itself:[9] "void... light and darkness [as the privation of light], it is rid of both,"[10] instead the darkness that is the permissive principle of light, in the manner as Non-being is to Being, or as kindling is to fire.
</p>

<p>
  "Made... heuene and erthe" introduces us to the subject of Genesis, viz., the procession of manifestation from the bifurcation of God and Godhead; heaven and earth being the poles of manifestation, for "that what is neither on earth nor in heaven anywhere is nought."[11]
</p>

<h3>Genesis I.2. "The erthe forsothe was veyn with ynne and void, and derknessis weren vpon the face of the see; and the Spiryt of God was born vpon the watrys."</h3>

<p>
  The Waters, or in our text, "the see," are the possibilities of existence, i.e., materia prima, which, "as it is in itself, is in potentiality to form,"[12] and thus, "derknessis weren vpon [its]... face," for as Godhead is to Being, the Waters are to existence,[13] viz., as a permissive principle and as an inexhaustible well, for "My bounty is as boundless as the sea";[14] "Do not think of the water failing; for this water is without end";[15] "A Fountain ever equally unexhaust, a Sea unbounded...";[16] "Unfathomable as the sea, wondrously ending only to begin again, informing all creation without being exhausted";[17] "In the beginning, this world was merely Water."[18]
</p>

<p>
  "The erthe" is materia signata, i.e., the support or plane or substratum or measure of each of the possibilities of existence, as number is to corporeity,[19] or as body is to soul: "Earth is the support of every world."[20] Empty within, because, like "the see," bereft of form, and thus "neuer is fild with water,"[21] i.e. insatiable, for it is desirous of form.
</p>

<p>
  As God "cannot be a Person without a Nature, nor can his Nature be without a Person,"[22] for Person and Nature imply each other,[23] it follows that the distinction between God and Godhead is "rational, not real,"[24] and this "first formal assumption [rational distinction] in Godhead is being... God,"[25] hence God affirms He Is because His only idiosyncrasy is Being, His Nature "the possibility of existence, [which] necessarily involves the fact of existence,"[26] and thus "the Nothing bringeth itself into a Will":[27] the Spirit is born upon the Waters.
</p>

<h3>Footnotes</h3>

<p>
  [1] Augustine, Confessions, XI.8.10.
</p>

<p>
  [2] Meister Eckart, Pfeiffer, I.268.
</p>

<p>
  [3] Ibid, I.267. Cf. Dante, Paradiso, XXIX.20, "For nor before nor after was the process of God's outflowing over these waters"; Zohar: "When God set forth to create the universe, his Thought encompassed all the worlds at once. ... All were created in a single instant."; and Hermes: "For with God, to will is to accomplish, inasmuch as, when he wills, the doing is completed in the self-same moment as the willing."
</p>

<p>
  [4] "Do not fondly imagine that God. when he created the heavens and the earth and all creatures, made one thing one day and another the next. Moses describes it thus it is true, nevertheless he knew better: he did so merely on account of those who are incapable of understanding or conceiving otherwise. All God did was: he willed and they were" (Meister Eckart, Pfeiffer, I.7).  Cf. Boehme: "It was an everlasting beginning" (Mysterium Pansophicum, 4.9).
</p>

<p>
  [5] Coomaraswamy, Hinduism and Buddhism.
</p>

<p>
  [6] "A first cause, being itself uncaused, is not probable but axiomatic," (Coomaraswamy, Time and Eternity).
</p>

<p>
  [7] Brihadaranyaka Upanishad, I.2.1; cf. Maitri Upanishad, II.5, "In the beginning this world was a Dark-Inert (skt. tamas)..."
</p>

<p>
  [8] Meister Eckart, Pfeiffer, I.369.
</p>

<p>
  [9] In the words of St. Thomas Aquinas: "lack of instrinsic form" (Summa Theologiae, II, Q.6 A.2).
</p>

<p>
  [10] Meister Eckart, Pfeiffer, I.267-70. Cf. Boehme, Supersensual Life: "which hath no ground or byss to stand on, and where there is no place to dwell in... it may fitly be compared to nothing."
</p>

<p>
  [11] Plato, Timaeus, 52d.
</p>

<p>
  [12] St. Thomas Aquinas, Summa Theologiae, I, Q.66 A.2. Cf. John of Damascus: the "nature referred to is that primary and formless matter that can be informed,... nature as being that by which the Generator generates."
</p>

<p>
  [13] As explained by Coomaraswamy, "a distinction of existence from pure being is easily made: 'being in itself' is modeless, 'existence' is being in a mode" (Coomaraswamy, A New Approach to the Vedas, n6).
</p>

<p>
  [14] Shakespeare, Romeo and Juliet, II.ii.133.
</p>

<p>
  [15] Rumi, Divani Shamsi Tabriz, XII.
</p>

<p>
  [16] Peter Sterry.
</p>

<p>
  [17] Chuang-tse.
</p>

<p>
  [18] Brihadaranyaka Upanishad, V.5.1.
</p>

<p>
  [19] For the matter of corporeity is "materia signata quantitate" (St. Thomas Aquinas, In Boeth. de Trin., Q.4, A.2).
</p>

<p>
  [20] Rgveda, VI.16.13.
</p>

<p>
  [21] Proverbs, XXX.16.
</p>

<p>
  [22] Meister Eckhart, Pfeiffer, I.394.
</p>

<p>
  [23] In the same way that Non-Being implies Being and vice versa, or hypothesis implies antithesis and vice versa; in all cases: connascent pairs, each begetting the other.
</p>

<p>
  [24] Ibid., I.268.
</p>

<p>
  [25] Ibid., I.267.
</p>

<p>
  [26] Coomaraswamy, A New Approach to the Vedas, p32.
</p>

<p>
  [27] Boehme, XL Questions concerning the Soule, I.178. Cf. Rgveda, I.164.8, "He by Intellect forewent her."
</p>
